@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Prompt&family=Trochut&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  position: relative;
  overflow-x: hidden;
}

.hidden
{
    display: none !important;
}

.navbar
{
    width: 100vw;
    padding: 0.9rem 0.5rem;
    background: #050c35;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 2px lightgrey;
}

.navbar .nav-had
{
    font-weight: 600;
    font-family: 'Trochut', cursive;
    color: white;
    font-size: 2.2rem;
    letter-spacing: 0.01em;
}

.subjectCon
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    margin-top: 2rem;
}

.subjectCon .SCHad
{
    font-family: 'Prompt', sans-serif;
    font-weight: 600;
    color: rgb(32, 32, 32);
    font-size: 3.2vw;
}

.subjectCon .container
{
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
}

.subjectCon .container .sub-btn
{
    text-decoration: none;
    width: 14rem;
    height: 18rem;
    border: 1px solid darkgray;
    margin: 0.5rem 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    box-shadow: 0 0 14px 1px darkgray;
}

.subjectCon .container .sub-btn .img
{
    width: 100%;
    height: 80%;
}

.subjectCon .container .sub-btn .lable
{
    font-size: 2.2vw;
    font-weight: bold;
    font-family: 'Baloo Bhai 2', cursive;
    color: rgb(64, 131, 255);
}

.chapModal
{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.chapModal .container
{
    width: 80%;
    height: 80%;
    border-radius: 14px;
    background: white;
    box-shadow: 0 0 15px 0px darkgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chapModal .container .chapdiv
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.6rem;
    overflow-y: scroll;
}

.chapModal .container .chapdiv .had 
{
    margin: 1rem 0;
    margin-bottom: 2rem;
    font-family: 'Prompt', sans-serif;
}

.chapModal .container .chapdiv .chapter
{
    height: fit-content;
    margin-bottom: 0.6rem;
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 1.2rem 0.3rem;
    box-shadow: 0 0 5px darkgrey;
    border-radius: 6px;
}

.chapModal .container .chapdiv .chapter .chapNo
{
    width: 2rem;
    height: 2rem;
    background: rgb(0, 183, 255);
    border-radius: 50%;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
}

.chapModal .container .chapdiv .chapter .chapName
{
    font-weight: 700;
    color: #121212;
    font-family: 'Baloo Bhai 2', cursive;
}
.chapModal .container .close
{
    position: absolute;
    right: 2.4rem;
    top: 1rem;
    font-size: 2rem;
    font-family: monospace;
    background: none;
    border: none;
    cursor: pointer;
}

.footer
{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    background-color: rgb(240, 239, 239);
}

.footer .had 
{
    color: rgb(250, 41, 145);
    font-size: 1.2rem;
    font-family: 'Prompt', sans-serif;
    font-weight: 800;
    letter-spacing: 0.05em;
    margin-top: 0.8rem;
    text-align: center;
}

.footer .devloperName
{
    margin: 0.5rem 0;
    font-weight: 900;
    color: #121212;
    font-family: 'Trochut', cursive;
    font-size: 1.2rem;
}

.footer .con
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.footer .con .Smedia-btn
{
    width: 10rem;
    padding: 0.8rem 2rem;
    color: white;
    background: rgb(0, 183, 255);
    margin: 0.3rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive;
}

.footer .con .Smedia-btn:hover
{
    opacity: 70%;
}

@media screen and (max-width: 600px)
{
    .subjectCon .SCHad
    {
        font-size: 1.8rem;
    }

    .subjectCon .container .sub-btn .lable
    {
        font-size: 1.3rem;
    }

    .chapModal .container
    {
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }
}

@media screen and (min-width: 576px)
{
    .footer .con .Smedia-btn
    {
        margin: 0 1rem;
    }
}